body{
}

.button {
  -fx-background-color: transparent;
  -fx-background-image: url('./picturecore/card_back.png');
  -fx-background-size: cover;
}

.button:hover {
  -fx-background-color: transparent;
  -fx-background-image: url('./picturecore/cbhover.png');
  -fx-background-size: cover;
  -fx-cursor: hand;
}

.buttonPlay {
  -fx-background-color: transparent;
  -fx-background-image: url('./picturecore/play.png');
  -fx-background-size: cover;
  -fx-cursor: hand;
}

.buttonPlay:hover{
  -fx-background-image: url('./picturecore/play.png');
}
